#gameArea {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}

#score {
    position: absolute;
    bottom: 0;
    right: 1em;
}

#stopGameBtn {
    position: absolute;
    bottom: 1.5em;
    left: 1em;
}


.box {
    height: 10px;
    width: 10px;
    background-color: blueviolet;
    border: 1px solid black;
}

#snake {
    position: absolute;
}

.food {
    height: 10px;
    width: 10px;
    background-color: rgb(148, 63, 42);
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

#startGameBtn, #stopGameBtn {
    height: 40px;
    width: 100px;
    background-color: aquamarine;
}

.btn:hover {
    box-shadow: 2px 2px 2px black;
    font-weight: 600;
}

#playerName {
    height: 40px;
    width: 300px;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
}

#fieldSet {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 50vh;
}

input {
    margin: 1em;
}

#errorBox, #gameOver {
    border: 1px solid black;
    background-color: rgb(241, 155, 155);
    height: 50px;
    width: 500px;
    margin: auto;
    text-align: center;
    display: none;
}

#gameOver{
    position: absolute;
    top: 0;
    height: 300px;
    width: 600px;
    background-color: lightcyan;
    font-size: x-large;
    z-index: 1;
}