#gameArea {
    height: 80vh;
    width: 80vw;
    border: 1px solid black;
    margin: auto;
    position: relative;
}

#score {
    position: absolute;
    bottom: 0;
    right: 1em;
}


.box {
    height: 10px;
    width: 10px;
    background-color: blueviolet;
    border: 1px solid black;
}

#snake {
    position: absolute;
}