#gameArea {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}

#score {
    position: absolute;
    bottom: 0;
    right: 1em;
}


.box {
    height: 10px;
    width: 10px;
    background-color: blueviolet;
    border: 1px solid black;
}

#snake {
    position: absolute;
}

.food {
    height: 10px;
    width: 10px;
    background-color: rgb(148, 63, 42);
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
}

#startGameBtn {
    height: 40px;
    width: 100px;
}

#playerName {
    height: 40px;
    width: 300px;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}

#fieldSet {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 50vh;
}

#errorBox {
    border: 1px solid black;
    background-color: pink;
    height: 50px;
    width: 500px;
    margin: auto;
    text-align: center;
}